@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: linear-gradient(to right, #071CFA, #2E3BC7, #404794,#3D4061, #3D4061,#2A2B33);

}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #15161a9f;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #2E3BC7;
    text-align: center;
    text-shadow: 1px 1px 3px black;

}

h2 {
    color:#404794

}

p {
    text-align: justify;
}